<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0" metadata-complete="true">
	<!-- Filter and Filter Mapping for JAAS Authentication Schema  -->
	<filter>
		<filter-name>AAS Filter</filter-name>
		<filter-class>com.egen.util.aas.AuthFilter</filter-class>
	</filter>
	<!-- Filter for compressing response  -->
	<!-- 
	<filter>
		<filter-name>Compress Filter</filter-name>
		<filter-class>com.egen.util.compress.GZIPFilter</filter-class>
	</filter>
	-->
	<filter>
		<filter-name>ResponseOverrideFilter</filter-name>
		<filter-class>org.displaytag.filter.ResponseOverrideFilter
	</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AAS Filter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AAS Filter</filter-name>
		<url-pattern>*.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<!--  
	<filter-mapping>
		<filter-name>Compress Filter</filter-name>
		<url-pattern>*.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compress Filter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compress Filter</filter-name>
		<url-pattern>*.html</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	-->
	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>*.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
  
	<!-- Example of listener configuration for capturing database transactions  -->
	<!-- Change the class name for your implementation and remove comments for using the listener.
	<listener>
		<listener-class>com.egen.context.ApplicationContext</listener-class>
	</listener>
	-->
  
	<!-- Standard Action Struts Servlet Maping  -->
	<servlet>
		<servlet-name>Application Controller</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>Application Controller</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- The Usual Welcome File List -->
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Error Code And Redirect Page -->
	<error-page>
		<location>/infra/ErrorPage.jsp</location>
	</error-page>

	<!-- Resource (Database) reference. -->
	<resource-ref>
		<res-ref-name>jdbc/controledenotas</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- e-Gen Variables -->

	<!-- Login Module identification. Remove comments when using security -->
	<!-- The "env-entry-value" must match to an entry in jaas.config file. -->
	<!--
	<env-entry>
		<env-entry-name>egen/LoginModule</env-entry-name>
		<env-entry-value>LoginSchema1</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	-->
	<!-- Default data source -->
	<env-entry>
		<env-entry-name>egen/DefaultDatabase</env-entry-name>
		<env-entry-value>jdbc/controledenotas</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>

  <!-- Other environment variable. Remove comments for using -->
  <!--
  <env-entry>
    <env-entry-name>egen/DefaultDatabaseDriver</env-entry-name>
      <env-entry-value></env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/DefaultDatabaseUrl</env-entry-name>
      <env-entry-value></env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/TransactionManager</env-entry-name>
      <env-entry-value>com.egen.util.jdbc.JdbcUtilTransactionManager</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/ApplicationContext</env-entry-name>
      <env-entry-value>com.egen.context.ApplicationContext</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/DefaultMaxRows</env-entry-name>
      <env-entry-value>1000</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/DatabaseUDT</env-entry-name>
      <env-entry-value>schema</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/FORM_ACTION</env-entry-name>
      <env-entry-value>"/system/LogonForm.do</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/SUBJECT_SESSION_KEY</env-entry-name>
      <env-entry-value>com.egen.util.aas.SUBJECT</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/EXCEPTION_MESSAGE</env-entry-name>
      <env-entry-value>exception</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/LOGOUT_ACTION</env-entry-name>
      <env-entry-value>logout_action</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/LOGON_ACTION</env-entry-name>
      <env-entry-value>logon_action</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/ERROR_PAGE</env-entry-name>
      <env-entry-value>"/infra/ErrorPage.jsp</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/USERNAME_FIELD</env-entry-name>
      <env-entry-value></env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/PASSWORD_FIELD</env-entry-name>
      <env-entry-value></env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>egen/LANGUAGE_FIELD</env-entry-name>
      <env-entry-value></env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  -->
  
</web-app>

